<div class="container mt-3">
  <h2>Structural Directives</h2>

  <div *ngIf="people.length === 0; else showData">
    <button class="btn btn-primary" (click)="loadData()">Load Data</button>
  </div>

  <ng-template #showData>
    <table class="table table-striped table-bordered">
      <thead class="bg-warning">
        <tr>
          <th>Sl.No</th>
          <th>Name</th>
          <th>Country</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.country }}</td>
          <td>{{ person.email }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
